body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375vw;
  line-height: 20px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #000000;
  overflow-x: hidden;
}

@media (max-width: 480px) {
  body {
    font-size: 3.2vw;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ibm-plex-mono-regular - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/ibm-plex-mono-v12-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/ibm-plex-mono-v12-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/fonts/ibm-plex-mono-v12-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/fonts/ibm-plex-mono-v12-latin-regular.woff') format('woff'),
    /* Modern Browsers */
      url('./assets/fonts/ibm-plex-mono-v12-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/fonts/ibm-plex-mono-v12-latin-regular.svg#IBMPlexMono')
      format('svg');
  /* Legacy iOS */
}

/* ibm-plex-mono-500 - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/ibm-plex-mono-v12-latin-500.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/ibm-plex-mono-v12-latin-500.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/fonts/ibm-plex-mono-v12-latin-500.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./assets/fonts/ibm-plex-mono-v12-latin-500.woff') format('woff'),
    /* Modern Browsers */ url('./assets/fonts/ibm-plex-mono-v12-latin-500.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./assets/fonts/ibm-plex-mono-v12-latin-500.svg#IBMPlexMono')
      format('svg');
  /* Legacy iOS */
}
a {
  color: #000000;
  text-decoration: none;
  &:hover {
    opacity: 0.7;
  }
}
